<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-secondary me-md-2 btn-sm" href="/campaigns">Back</a>
</div>
<div class="card" style='border: 1px solid black; background-color: #add8e6;'>
  <h5 class="card-header text-dark"><%=@campaign.title%></h5>
  <div class="card-body">
    <p class="card-text text-dark">Purpose : <%=truncate(@campaign.purpose)%></p>
    <p class="card-text text-dark">Estimared Duration : <%=truncate(@campaign.estimated_duration)%></p>                
  </div>

  <%if @campaign.poly_comments.any?%>
    <hr>
    <h4>Comments</h4>
    <%= render @campaign.poly_comments %>   
  <%end %>

  <h6>Add Comment</h6>
  <%= form_for([@campaign, @campaign.poly_comments.build]) do |f|%>
    <%= f.text_area :title%>
    <%= f.hidden_field :commentable_type%>
    <%= f.submit "Add"%>
  <%end%>
  
  <%= link_to "Show Discussion Topics", campaign_discussion_topics_path(@campaign)%>

</div>

<% if can? :update, @campaign %>
  <%= link_to ' Edit ' , edit_campaign_path(@campaign) , class:"btn btn-primary btn-sm" %>
<% end %>

<% if can? :destroy, @campaign %>
  <%= link_to ' Delete ' , campaign_path(@campaign) , method: :delete , data:{confirm:"are you sure?"} , class:"btn btn-danger btn-sm "%> 
<% end %>